*.pyc
*~
.venv/
build/
venv3*/
*.lprof
*.egg-info/
bonito/data/*
bonito/models/*
dist/
*.f[aq]
*.[ct]sv
*.fast*
*.sam
.ipynb_checkpoints/
Untitled*.ipynb
*.hdf5
*.onnx
*.log
*.db
*.sqlite3
*.deb
tmp/
*.npy
