# general requirements
mappy==2.24
toml==0.10.2
tqdm>4,<5
scipy==1.7.3
numpy~=1.21.5
pysam==0.19.1
parasail==1.2
pandas>1,<2
requests==2.25.1
ont-koi==0.1.1
onnxruntime==1.12.1
ont-remora==1.1.1
ont-fast5-api==3.3.0
pod5-format==0.0.23
pod5-format-tools==0.0.23
fast-ctc-decode==0.3.2
python-dateutil==2.8.2
# cuda requirements
torch~=1.12.1 --extra-index-url https://download.pytorch.org/whl/cu113
