# general requirements
edlib
fast-ctc-decode
mappy
networkx     # required for py3.8 torch compatability
numpy<2      # numpy~=2 is currently unreleased, it may have breaking changes
pandas<3     # pandas~=3 is currently unreleased, it may have breaking changes
parasail
pod5
pysam
python-dateutil
requests
toml
tqdm
wheel
# specific requirements
torch==2.1.2
# ont requirements
ont-fast5-api
ont-koi
ont-remora
